<p id="notice"><%= notice %></p>

<h1 class="todo_list_title">Todo List Tag</h1>

<table>
  <thead>
    <tr>
      <th>Todo list ID</th>
      <th>Tag ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list_tags.each do |todo_list_tag| %>
      <tr>
        <td><%= todo_list_tag.todo_list_id %></td>
        <td><%= todo_list_tag.tags_id %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', delete_todo_list_path(todo_list_id: todo_list_tag.todo_list_id, tags_id: todo_list_tag.tags_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="links">
 <%= link_to 'New Todo List Tag', new_todo_list_tag_path %> |
 <%= link_to 'Home', todo_lists_path %>
</div>