<p id="notice"><%= notice %></p>

<h1 class="todo_list_title">Tags</h1>


<div class = "clearfix">
  <% @tags.each do |tag| %>
    <div id = "boxed">
      <div class = "text"><%= link_to tag.name, tag %> </div>
      <%= link_to tag, method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="links">
 <%= link_to 'New Tag', new_tag_path %> |
 <%= link_to 'Home', todo_lists_path %>
</div>